.categories-section {
  margin-bottom: 20px;
}

.products-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  gap: 10px;
}

img {
  width: 100px;
}

table {
  max-width: 200px;
}